<app-nav-bar title="Morbidity" bg="danger"></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="one_header">
          6 bone diseases
        </div>
      </div>
      <div class="card mt-3 border-0">

        <button (click)="select('P / C', 'button_one')" class="btn btn-outline-danger text-left">
          <div class="row">
            <div class="col">
              Relevant Osteoporosis,<br>
              Rheumatoid Arthritis,<br>
              Ankylosing Spondilytis<br>
            </div>
            <div class="col">
              <div name="checkmark-circle" float-end *ngIf="button_one == true"><b>:</b></div>
            </div>
          </div>

        </button>
      </div>
      <div class="card mt-3 border-0">

        <button (click)="select('0', 'button_two')" class="btn btn-outline-danger text-left">
          <div class="row">
            <div class="col">
              no bone disease
            </div>
            <div class="col">
              <div *ngIf="button_two == true"><b>:</b></div>
            </div>
          </div>
        </button>
      </div>

      <div class="card intermediate_result mt-3">
        <div class="row">
          <div class="col center text-center">
            A: {{a}}
          </div>
          <div class="col center text-center">
            P: {{p}}
          </div>
          <div class="col center text-center">
            C: {{c}}
          </div>
        </div>
      </div>

      <div class="card mt-3 border-0">
        <div class="row">
          <div class="col-3 text-left">
            <button class="btn btn-outline-danger" (click)="goToNext()" [disabled]="!isenabled">Next</button>
          </div>
          <div class="col-6 text-center">
            <app-letter-nav-modal buttoncolor="danger"></app-letter-nav-modal>
          </div>
          <div class="col center text-right">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


