<app-nav-bar title="Spine" bg="warning"></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="one_header">
          4 Instability
        </div>
      </div>
      <div class="card mt-3 border-0">

        <button (click)="select('A / P', 'button_one')" class="btn btn-outline-warning text-left">
          <div class="row">
            <div class="col">
              < 6 mm
            </div>
            <div class="col">
              <div *ngIf="button_one == true"><b>:</b></div>
            </div>
          </div>
        </button>
      </div>
      <div class="card mt-3 border-0">
        <button (click)="select('C', 'button_two')" class="btn btn-outline-warning text-left">
          <div class="row">
            <div class="col">
              > 6 mm
            </div>
            <div class="col">
              <div *ngIf="button_two == true"><b>:</b></div>
            </div>
          </div>
        </button>
      </div>

      <div class="card intermediate_result mt-3">
        <div class="row">
          <div class="col center text-center">
            A: {{a}}
          </div>
          <div class="col center text-center">
            P: {{p}}
          </div>
          <div class="col center text-center">
            C: {{c}}
          </div>
        </div>
      </div>

      <div class="card mt-3 border-0">
        <div class="row">
          <div class="col-3 center text-left">
            <button class="btn btn-outline-warning" (click)="goToNext()" [disabled]="!isenabled">Next</button>
          </div>
          <div class="col-6 center text-center">

          </div>
          <div class="col-2 center text-right">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


