<button type="button" class="btn btn-outline-{{buttoncolor}}" (click)="openModal(template)">visit single letters</button>

<ng-template #template>
  <div class="modal-header">
    <h6 class="modal-title pull-left">Go to letter ...</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-3 mt-2">
        <button class="btn btn-outline-dark" (click)="goToLetter('one')">1</button>
      </div>
      <div class="col-3 mt-2">
        <button class="btn btn-outline-dark" (click)="goToLetter('two')">2</button>
      </div>
      <div class="col-3 mt-2">
        <button class="btn btn-outline-warning" (click)="goToLetter('three')">3</button>
      </div>
      <div class="col-3 mt-2">
        <button class="btn btn-outline-warning" (click)="goToLetter('four')">4</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3 mt-2">
        <button class="btn btn-outline-danger" (click)="goToLetter('five')">5</button>
      </div>
      <div class="col-3 mt-2">
        <button class="btn btn-outline-danger" (click)="goToLetter('six')">6</button>
      </div>
      <div class="col-3 mt-2">
        <button class="btn btn-outline-primary" (click)="goToLetter('seven')">7</button>
      </div>
      <div class="col-3 mt-2">
        <!--<button class="btn btn-outline-primary" (click)="goToLetter('result')">result</button>-->
      </div>
    </div>
  </div>
</ng-template>
