
.comp_a_button {
  padding: 8px;
  background: #cccccc;
}

.comp_p_button {
  padding: 8px;
  background: #dddddd;
}

.comp_c_button {
  padding: 8px;
  background: #eeeeee;
}

/*.intermediate_result {
  padding: 8px;
  background: #ffffff;
  font-size: 10px;
}*/

.tabs-md .tabbar {
  background: #000;
}
/*// all tabs texts*/
   .tabs-md .tab-button-text {
     font-size: 14px;
     color: #fff;
   }
/*// selected tab*/
   .tabs-md .tab-button {
     background-color: #fff;
   }

