<app-nav-bar title="Compression" bg="secondary"></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-md-4">

      <div class="card mt-3">
        <div class="one_header bg-outline-secondary">
          1 Location
        </div>
      </div>

      <div class="card mt-3 border-0">
        <button (click)="select('A', 'button_one')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              Ant -> hill type / flat type 1-2
            </div>
            <div class="col text-right">
              <div *ngIf="button_one == true"><b><i class="fa fa-check"></i></b></div>
            </div>
          </div>
        </button>
      </div>
      <div class="card mt-3 border-0">
        <button (click)="select('P', 'button_two')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              Ant -> flat type 3
            </div>
            <div class="col text-right">
              <div *ngIf="button_two == true"><b><i class="fa fa-check"></i></b></div>
            </div>
          </div>
        </button>
      </div>
      <div class="card mt-3 border-0">
        <button (click)="select('P', 'button_three')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              Post
            </div>
            <div class="col text-right">
              <div *ngIf="button_three == true"><b><i class="fa fa-check"></i></b></div>
            </div>
          </div>
        </button>
      </div>
      <div class="card mt-3 border-0">
        <button (click)="select('P / C', 'button_four')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              Combined
            </div>
            <div class="col text-right">
              <div *ngIf="button_four == true"><b><i class="fa fa-check"></i></b></div>
            </div>
          </div>
        </button>
      </div>

      <div class="card mt-3 border-0">
        <div class="row">
          <div class="col-3">
            <button class="btn btn-outline-dark" (click)="goToNext()" [disabled]="!isenabled">Next</button>
          </div>
         <div class="col-6">
           <!--<app-letter-nav-modal buttoncolor="dark"></app-letter-nav-modal>-->
          </div>
          <div class="col-3 float-right">
            <button class="btn btn-outline-dark" (click)="showImages('one')" outline>Pics</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



