body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 32px 0px 12px 13px;padding: 0px;border: none;width: 947px;}
#page_1 #id1_1 {border:none;margin: 0px 0px 0px 9px;padding: 0px;border:none;width: 938px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 204px 0px 0px 0px;padding: 0px;border:none;width: 947px;overflow: hidden;}
#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 22px 0px 0px 0px;padding: 0px;border:none;width: 878px;overflow: hidden;}
#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 69px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:452px;left:387px;z-index:-1;width:480px;height:195px;}
#page_1 #p1dimg1 #p1img1 {width:480px;height:195px;}




#page_2 {position:relative; overflow: hidden;margin: 22px 0px 12px 13px;padding: 0px;border: none;width: 947px;}
#page_2 #id2_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 947px;overflow: hidden;}
#page_2 #id2_2 {border:none;margin: 50px 0px 0px 0px;padding: 0px;border:none;width: 947px;overflow: hidden;}





#page_3 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 960px;height: 720px;}
#page_3 #id3_1 {border:none;margin: 23px 0px 0px 31px;padding: 0px;border:none;width: 929px;overflow: hidden;}
#page_3 #id3_2 {border:none;margin: 48px 0px 0px 13px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_3 #p3dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:960px;height:720px;}
#page_3 #p3dimg1 #p3img1 {width:960px;height:720px;}




#page_4 {position:relative; overflow: hidden;margin: 0px 0px 12px 13px;padding: 0px;border: none;width: 947px;}
#page_4 #id4_1 {border:none;margin: 0px 0px 0px 15px;padding: 0px;border:none;width: 861px;overflow: hidden;}
#page_4 #id4_2 {border:none;margin: 0px 0px 0px 111px;padding: 0px;border:none;width: 836px;overflow: hidden;}
#page_4 #id4_2 #id4_2_1 {float:left;border:none;margin: 5px 0px 0px 0px;padding: 0px;border:none;width: 564px;overflow: hidden;}
#page_4 #id4_2 #id4_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 272px;overflow: hidden;}
#page_4 #id4_3 {border:none;margin: 24px 0px 0px 15px;padding: 0px;border:none;width: 932px;overflow: hidden;}
#page_4 #id4_3 #id4_3_1 {float:left;border:none;margin: 28px 0px 0px 0px;padding: 0px;border:none;width: 797px;overflow: hidden;}
#page_4 #id4_3 #id4_3_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 135px;overflow: hidden;}
#page_4 #id4_4 {border:none;margin: 59px 0px 0px 111px;padding: 0px;border:none;width: 836px;overflow: hidden;}
#page_4 #id4_5 {border:none;margin: 38px 0px 0px 0px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_4 #p4dimg1 {position:absolute;top:0px;left:443px;z-index:-1;width:504px;height:705px;}
#page_4 #p4dimg1 #p4img1 {width:504px;height:705px;}




#page_5 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 960px;height: 720px;}
#page_5 #id5_1 {border:none;margin: 12px 0px 0px 28px;padding: 0px;border:none;width: 932px;overflow: hidden;}
#page_5 #id5_2 {border:none;margin: 53px 0px 0px 28px;padding: 0px;border:none;width: 932px;overflow: hidden;}
#page_5 #id5_2 #id5_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 58px;overflow: hidden;}
#page_5 #id5_2 #id5_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 326px;overflow: hidden;}
#page_5 #id5_2 #id5_2_3 {float:left;border:none;margin: 5px 0px 0px 0px;padding: 0px;border:none;width: 548px;overflow: hidden;}
#page_5 #id5_3 {border:none;margin: 283px 0px 0px 13px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_5 #p5dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:960px;height:720px;}
#page_5 #p5dimg1 #p5img1 {width:960px;height:720px;}




#page_6 {position:relative; overflow: hidden;margin: 39px 0px 12px 0px;padding: 0px;border: none;width: 960px;}
#page_6 #id6_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 960px;overflow: hidden;}
#page_6 #id6_2 {border:none;margin: 139px 0px 0px 13px;padding: 0px;border:none;width: 947px;overflow: hidden;}





#page_7 {position:relative; overflow: hidden;margin: 41px 0px 12px 13px;padding: 0px;border: none;width: 947px;}
#page_7 #id7_1 {border:none;margin: 0px 0px 0px 23px;padding: 0px;border:none;width: 924px;overflow: hidden;}
#page_7 #id7_2 {border:none;margin: 5px 0px 0px 0px;padding: 0px;border:none;width: 947px;overflow: hidden;}





#page_8 {position:relative; overflow: hidden;margin: 33px 0px 12px 0px;padding: 0px;border: none;width: 960px;}
#page_8 #id8_1 {border:none;margin: 0px 0px 0px 40px;padding: 0px;border:none;width: 920px;overflow: hidden;}
#page_8 #id8_2 {border:none;margin: 5px 0px 0px 13px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_8 #p8dimg1 {position:absolute;top:95px;left:0px;z-index:-1;width:488px;height:320px;}
#page_8 #p8dimg1 #p8img1 {width:488px;height:320px;}




#page_9 {position:relative; overflow: hidden;margin: 4px 0px 12px 10px;padding: 0px;border: none;width: 950px;}
#page_9 #id9_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 950px;overflow: hidden;}
#page_9 #id9_2 {border:none;margin: 54px 0px 0px 3px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_9 #p9dimg1 {position:absolute;top:47px;left:174px;z-index:-1;width:757px;height:603px;}
#page_9 #p9dimg1 #p9img1 {width:757px;height:603px;}




#page_10 {position:relative; overflow: hidden;margin: 297px 0px 12px 0px;padding: 0px;border: none;width: 960px;}
#page_10 #id10_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 960px;overflow: hidden;}
#page_10 #id10_2 {border:none;margin: 1px 0px 0px 13px;padding: 0px;border:none;width: 947px;overflow: hidden;}





#page_11 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 960px;height: 720px;}
#page_11 #id11_1 {float:left;border:none;margin: 694px 0px 0px 13px;padding: 0px;border:none;width: 270px;overflow: hidden;}
#page_11 #id11_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 677px;overflow: hidden;}

#page_11 #p11dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:949px;height:720px;}
#page_11 #p11dimg1 #p11img1 {width:949px;height:720px;}




#page_12 {position:relative; overflow: hidden;margin: 2px 0px 12px 0px;padding: 0px;border: none;width: 960px;}
#page_12 #id12_1 {float:left;border:none;margin: 692px 0px 0px 13px;padding: 0px;border:none;width: 270px;overflow: hidden;}
#page_12 #id12_2 {float:left;border:none;margin: 194px 0px 0px 0px;padding: 0px;border:none;width: 677px;overflow: hidden;}

#page_12 #p12dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:949px;height:703px;}
#page_12 #p12dimg1 #p12img1 {width:949px;height:703px;}




#page_13 {position:relative; overflow: hidden;margin: 0px 0px 12px 0px;padding: 0px;border: none;width: 960px;}
#page_13 #id13_1 {border:none;margin: 6px 0px 0px 9px;padding: 0px;border:none;width: 794px;overflow: hidden;}
#page_13 #id13_2 {border:none;margin: 7px 0px 0px 13px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_13 #p13dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:960px;height:688px;}
#page_13 #p13dimg1 #p13img1 {width:960px;height:688px;}




#page_14 {position:relative; overflow: hidden;margin: 110px 0px 12px 13px;padding: 0px;border: none;width: 947px;}
#page_14 #id14_1 {border:none;margin: 0px 0px 0px 32px;padding: 0px;border:none;width: 915px;overflow: hidden;}
#page_14 #id14_2 {border:none;margin: 40px 0px 0px 0px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_14 #p14dimg1 {position:absolute;top:360px;left:59px;z-index:-1;width:866px;height:185px;}
#page_14 #p14dimg1 #p14img1 {width:866px;height:185px;}




#page_15 {position:relative; overflow: hidden;margin: 13px 0px 12px 0px;padding: 0px;border: none;width: 960px;}
#page_15 #id15_1 {border:none;margin: 238px 0px 0px 478px;padding: 0px;border:none;width: 482px;overflow: hidden;}
#page_15 #id15_2 {border:none;margin: 263px 0px 0px 0px;padding: 0px;border:none;width: 960px;overflow: hidden;}
#page_15 #id15_2 #id15_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 823px;overflow: hidden;}
#page_15 #id15_2 #id15_2_2 {float:left;border:none;margin: 33px 0px 0px 0px;padding: 0px;border:none;width: 137px;overflow: hidden;}
#page_15 #id15_3 {border:none;margin: 28px 0px 0px 887px;padding: 0px;border:none;width: 73px;overflow: hidden;}
#page_15 #id15_4 {border:none;margin: 1px 0px 0px 13px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_15 #p15dimg1 {position:absolute;top:0px;left:12px;z-index:-1;width:889px;height:660px;}
#page_15 #p15dimg1 #p15img1 {width:889px;height:660px;}




#page_16 {position:relative; overflow: hidden;margin: 4px 0px 12px 10px;padding: 0px;border: none;width: 950px;}
#page_16 #id16_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 950px;overflow: hidden;}
#page_16 #id16_2 {border:none;margin: 54px 0px 0px 3px;padding: 0px;border:none;width: 947px;overflow: hidden;}

#page_16 #p16dimg1 {position:absolute;top:47px;left:174px;z-index:-1;width:757px;height:603px;}
#page_16 #p16dimg1 #p16img1 {width:757px;height:603px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 43px 'Arial';line-height: 51px;}
.ft1{font: bold 37px 'Arial';color: #e46c0a;line-height: 44px;}
.ft2{font: 32px 'Arial';line-height: 36px;}
.ft3{font: 27px 'Helvetica';line-height: 32px;}
.ft4{font: 27px 'Arial';line-height: 32px;}
.ft5{font: bold 27px 'Arial';line-height: 32px;}
.ft6{font: 27px 'Helvetica';line-height: 45px;}
.ft7{font: bold 27px 'Arial';line-height: 45px;}
.ft8{font: 27px 'Arial';line-height: 45px;}
.ft9{font: 11px 'Calibri';line-height: 13px;}
.ft10{font: 24px 'Calibri';color: #898989;line-height: 29px;}
.ft11{font: bold 32px 'Arial';line-height: 37px;}
.ft12{font: bold 43px 'Arial';color: #e46c0a;line-height: 51px;}
.ft13{font: 27px 'Arial';line-height: 33px;}
.ft14{font: bold 43px 'Arial';color: #a6a6a6;line-height: 51px;}
.ft15{font: italic bold 24px 'Arial';color: #a6a6a6;line-height: 28px;}
.ft16{font: bold 43px 'Arial';color: #ffcc00;line-height: 51px;}
.ft17{font: italic bold 24px 'Arial';color: #ffcc00;line-height: 28px;}
.ft18{font: bold 43px 'Arial';color: #ff0000;line-height: 51px;}
.ft19{font: italic bold 24px 'Arial';color: #ff0000;line-height: 28px;}
.ft20{font: bold 43px 'Arial';color: #3366ff;line-height: 51px;}
.ft21{font: italic bold 24px 'Arial';color: #3366ff;line-height: 28px;}
.ft22{font: bold 24px 'Helvetica';color: #a6a6a6;line-height: 27px;}
.ft23{font: bold 24px 'Arial';color: #a6a6a6;line-height: 27px;}
.ft24{font: bold 24px 'Arial';color: #ffcc00;line-height: 27px;}
.ft25{font: bold 24px 'Arial';color: #ff0000;line-height: 27px;}
.ft26{font: bold 24px 'Arial';color: #3366ff;line-height: 27px;}
.ft27{font: bold 24px 'Helvetica';color: #a6a6a6;line-height: 29px;}
.ft28{font: bold 24px 'Arial';color: #a6a6a6;line-height: 29px;}
.ft29{font: bold 24px 'Helvetica';color: #ffcc00;line-height: 29px;}
.ft30{font: bold 24px 'Arial';color: #ffcc00;line-height: 29px;}
.ft31{font: bold 24px 'Arial';color: #ff0000;line-height: 29px;}
.ft32{font: 1px 'Arial';line-height: 1px;}
.ft33{font: bold 24px 'Arial';color: #3366ff;line-height: 29px;}
.ft34{font: bold 21px 'Arial';color: #ff0000;line-height: 24px;}
.ft35{font: 21px 'Arial';line-height: 24px;}
.ft36{font: 21px 'Arial';color: #3366ff;line-height: 24px;}
.ft37{font: bold 59px 'Arial';color: #7f7f7f;line-height: 69px;}
.ft38{font: bold 48px 'Arial';color: #7f7f7f;line-height: 56px;}
.ft39{font: bold 53px 'Arial';color: #7f7f7f;line-height: 62px;}
.ft40{font: bold 53px 'Arial';color: #ffffff;line-height: 62px;}
.ft41{font: bold 32px 'Arial';color: #7f7f7f;line-height: 37px;}
.ft42{font: 32px 'Arial';color: #7f7f7f;line-height: 36px;}
.ft43{font: 32px 'Times New Roman';color: #7f7f7f;line-height: 36px;}
.ft44{font: 1px 'Arial';line-height: 17px;}
.ft45{font: 32px 'Arial';color: #7f7f7f;margin-left: 9px;line-height: 36px;}
.ft46{font: bold 32px 'Arial';color: #7f7f7f;margin-left: 9px;line-height: 37px;}
.ft47{font: bold 53px 'Arial';line-height: 62px;}
.ft48{font: bold 59px 'Arial';color: #a57b4c;line-height: 69px;}
.ft49{font: italic bold 48px 'Arial';color: #a57b4c;line-height: 55px;}
.ft50{font: 43px 'Helvetica';color: #a57b4c;line-height: 49px;}
.ft51{font: 43px 'Wingdings';color: #a57b4c;line-height: 47px;}
.ft52{font: 43px 'Times New Roman';color: #a57b4c;line-height: 49px;}
.ft53{font: 43px 'Arial';color: #a57b4c;margin-left: 24px;line-height: 49px;}
.ft54{font: 43px 'Arial';color: #a57b4c;line-height: 49px;}
.ft55{font: bold 43px 'Arial';color: #a57b4c;line-height: 51px;}
.ft56{font: 43px 'Arial';color: #a57b4c;margin-left: 12px;line-height: 49px;}
.ft57{font: 43px 'Arial';color: #a57b4c;margin-left: 24px;line-height: 56px;}
.ft58{font: 43px 'Arial';color: #a57b4c;line-height: 56px;}
.ft59{font: bold 59px 'Arial';color: #ff0000;line-height: 69px;}
.ft60{font: italic bold 48px 'Arial';color: #ff0000;line-height: 55px;}
.ft61{font: 37px 'Helvetica';color: #ff0000;line-height: 42px;}
.ft62{font: 37px 'Times New Roman';color: #ff0000;line-height: 42px;}
.ft63{font: 37px 'Arial';color: #ff0000;line-height: 42px;}
.ft64{font: 27px 'Arial';color: #ff0000;line-height: 32px;}
.ft65{font: 32px 'Arial';color: #ff0000;line-height: 36px;}
.ft66{font: bold 37px 'Arial';color: #3366ff;line-height: 44px;}
.ft67{font: 26px 'Arial';line-height: 35px;}
.ft68{font: 37px 'Wingdings';color: #0000ff;line-height: 41px;}
.ft69{font: 37px 'Helvetica';color: #0000ff;line-height: 42px;}
.ft70{font: 37px 'Arial';color: #0000ff;line-height: 42px;}
.ft71{font: 16px 'Calibri';line-height: 19px;}
.ft72{font: bold 43px 'Arial';color: #0000ff;line-height: 51px;}
.ft73{font: 27px 'Arial';line-height: 34px;}
.ft74{font: 26px 'Arial';line-height: 34px;}
.ft75{font: bold 32px 'Arial';color: #e46c0a;line-height: 43px;}
.ft76{font: 21px 'Arial';line-height: 27px;}
.ft77{font: bold 21px 'Arial';color: #7f7f7f;line-height: 24px;position: relative; bottom: -7px;}
.ft78{font: bold 32px 'Arial';color: #ffc000;line-height: 37px;}
.ft79{font: bold 21px 'Arial';color: #ffc000;line-height: 24px;position: relative; bottom: -7px;}
.ft80{font: bold 32px 'Arial';color: #ff0000;line-height: 37px;}
.ft81{font: bold 21px 'Arial';color: #ff0000;line-height: 24px;position: relative; bottom: -7px;}
.ft82{font: 21px 'Arial';line-height: 25px;}
.ft83{font: bold 21px 'Arial';color: #0000ff;line-height: 25px;}
.ft84{font: 16px 'Arial';color: #0000ff;line-height: 19px;}
.ft85{font: 21px 'Arial';line-height: 28px;}
.ft86{font: 16px 'Calibri';color: #898989;line-height: 19px;}
.ft87{font: bold 32px 'Arial';color: #ffffff;line-height: 37px;position: relative; bottom: 10px;}
.ft88{font: bold 32px 'Arial';color: #ffffff;line-height: 37px;}
.ft89{font: bold 27px 'Calibri';line-height: 33px;}
.ft90{font: 29px 'Calibri';line-height: 36px;}
.ft91{font: 27px 'Calibri';line-height: 33px;}
.ft92{font: 31px 'Calibri';line-height: 38px;}
.ft93{font: 1px 'Calibri';line-height: 25px;}
.ft94{font: 27px 'Calibri';line-height: 25px;}
.ft95{font: 1px 'Calibri';line-height: 1px;}
.ft96{font: 32px 'Calibri';line-height: 39px;}
.ft97{font: 29px 'Calibri';background-color: #d9d9d9;line-height: 36px;}
.ft98{font: bold 32px 'Calibri';line-height: 39px;}
.ft99{font: 25px 'Calibri';background-color: #d99694;line-height: 31px;}
.ft100{font: bold 24px 'Arial';line-height: 29px;}
.ft101{font: 24px 'Helvetica';line-height: 32px;}
.ft102{font: 24px 'Arial';line-height: 32px;}
.ft103{font: 24px 'Helvetica';line-height: 27px;}
.ft104{font: 24px 'Arial';line-height: 27px;}
.ft105{font: bold 32px 'Calibri';line-height: 37px;}
.ft106{font: 27px 'Times New Roman';line-height: 19px;}
.ft107{font: 32px 'Calibri';line-height: 37px;}
.ft108{font: 1px 'Arial';line-height: 14px;}
.ft109{font: 1px 'Arial';line-height: 15px;}
.ft110{font: 27px 'Calibri';line-height: 32px;}
.ft111{font: 1px 'Arial';line-height: 20px;}
.ft112{font: 1px 'Arial';line-height: 3px;}
.ft113{font: 24px 'Calibri';line-height: 29px;}

.p0{text-align: left;padding-left: 97px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 60px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 14px;margin-top: 63px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 14px;margin-top: 13px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 50px;padding-right: 104px;margin-top: 7px;margin-bottom: 0px;text-indent: -35px;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 12px;margin-top: 58px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 12px;margin-top: 2px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 12px;margin-top: 40px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 12px;margin-top: 30px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 12px;margin-top: 7px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 12px;margin-top: 6px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 5px;padding-right: 121px;margin-top: 28px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 5px;margin-top: 22px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 5px;margin-top: 4px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: left;padding-left: 17px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: left;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: left;padding-left: 47px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: left;padding-left: 56px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: left;padding-left: 96px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p27{text-align: left;padding-left: 192px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p28{text-align: left;padding-left: 96px;margin-top: 0px;margin-bottom: 0px;}
.p29{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p30{text-align: left;padding-left: 27px;margin-top: 3px;margin-bottom: 0px;}
.p31{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p32{text-align: left;margin-top: 111px;margin-bottom: 0px;}
.p33{text-align: left;margin-top: 105px;margin-bottom: 0px;}
.p34{text-align: left;padding-left: 228px;margin-top: 3px;margin-bottom: 0px;}
.p35{text-align: justify;padding-right: 387px;margin-top: 6px;margin-bottom: 0px;}
.p36{text-align: left;padding-left: 36px;margin-top: 0px;margin-bottom: 0px;}
.p37{text-align: left;padding-left: 78px;margin-top: 111px;margin-bottom: 0px;}
.p38{text-align: left;padding-left: 78px;margin-top: 15px;margin-bottom: 0px;}
.p39{text-align: left;padding-left: 78px;margin-top: 17px;margin-bottom: 0px;}
.p40{text-align: right;padding-right: 266px;margin-top: 21px;margin-bottom: 0px;}
.p41{text-align: left;padding-left: 174px;margin-top: 15px;margin-bottom: 0px;}
.p42{text-align: left;padding-left: 174px;margin-top: 17px;margin-bottom: 0px;}
.p43{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;}
.p44{text-align: left;padding-right: 36px;margin-top: 30px;margin-bottom: 0px;}
.p45{text-align: left;padding-left: 174px;margin-top: 85px;margin-bottom: 0px;}
.p46{text-align: left;padding-left: 174px;margin-top: 47px;margin-bottom: 0px;}
.p47{text-align: left;padding-left: 6px;padding-right: 1px;margin-top: 251px;margin-bottom: 0px;}
.p48{text-align: left;padding-left: 442px;padding-right: 54px;margin-top: 49px;margin-bottom: 0px;}
.p49{text-align: left;padding-left: 442px;padding-right: 47px;margin-top: 32px;margin-bottom: 0px;}
.p50{text-align: left;padding-left: 442px;padding-right: 91px;margin-top: 28px;margin-bottom: 0px;}
.p51{text-align: left;padding-left: 442px;padding-right: 10px;margin-top: 28px;margin-bottom: 0px;}
.p52{text-align: left;padding-left: 2px;padding-right: 1px;margin-top: 33px;margin-bottom: 0px;}
.p53{text-align: left;padding-right: 789px;margin-top: 0px;margin-bottom: 0px;}
.p54{text-align: left;padding-right: 789px;margin-top: 20px;margin-bottom: 0px;}
.p55{text-align: left;padding-right: 794px;margin-top: 0px;margin-bottom: 0px;}
.p56{text-align: left;padding-right: 800px;margin-top: 172px;margin-bottom: 0px;}
.p57{text-align: left;padding-right: 791px;margin-top: 0px;margin-bottom: 0px;}
.p58{text-align: left;padding-right: 807px;margin-top: 0px;margin-bottom: 0px;}
.p59{text-align: left;padding-left: 310px;margin-top: 0px;margin-bottom: 0px;}
.p60{text-align: right;padding-right: 57px;margin-top: 334px;margin-bottom: 0px;}
.p61{text-align: left;padding-left: 112px;margin-top: 0px;margin-bottom: 0px;}
.p62{text-align: left;padding-left: 116px;margin-top: 152px;margin-bottom: 0px;}
.p63{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p64{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p65{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p66{text-align: left;padding-left: 53px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p67{text-align: left;padding-left: 144px;margin-top: 0px;margin-bottom: 0px;}
.p68{text-align: center;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p69{text-align: left;padding-left: 36px;padding-right: 299px;margin-top: 16px;margin-bottom: 0px;text-indent: -35px;}
.p70{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p71{text-align: left;margin-top: 5px;margin-bottom: 0px;}
.p72{text-align: right;padding-right: 183px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p73{text-align: left;padding-left: 490px;margin-top: 0px;margin-bottom: 0px;}
.p74{text-align: left;padding-left: 38px;margin-top: 0px;margin-bottom: 0px;}
.p75{text-align: right;padding-right: 105px;margin-top: 0px;margin-bottom: 0px;}
.p76{text-align: left;padding-right: 795px;margin-top: 18px;margin-bottom: 0px;}
.p77{text-align: left;padding-right: 800px;margin-top: 19px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 220px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 207px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 228px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 223px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 46px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 174px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 187px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 42px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 181px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 270px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 767px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 94px;vertical-align: bottom;}
.td14{border-left: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 160px;vertical-align: bottom;background: #bfbfbf;}
.td15{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;background: #bfbfbf;}
.td16{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 242px;vertical-align: bottom;background: #bfbfbf;}
.td17{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 121px;vertical-align: bottom;background: #bfbfbf;}
.td18{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 160px;vertical-align: bottom;background: #bfbfbf;}
.td19{padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;background: #bfbfbf;}
.td20{padding: 0px;margin: 0px;width: 242px;vertical-align: bottom;background: #bfbfbf;}
.td21{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 121px;vertical-align: bottom;background: #bfbfbf;}
.td22{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 160px;vertical-align: bottom;background: #d99694;}
.td23{padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;background: #d99694;}
.td24{padding: 0px;margin: 0px;width: 242px;vertical-align: bottom;background: #d99694;}
.td25{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 121px;vertical-align: bottom;background: #d99694;}
.td26{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 160px;vertical-align: bottom;background: #d9d9d9;}
.td27{padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;background: #d9d9d9;}
.td28{padding: 0px;margin: 0px;width: 242px;vertical-align: bottom;background: #d9d9d9;}
.td29{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 121px;vertical-align: bottom;background: #d9d9d9;}
.td30{padding: 0px;margin: 0px;width: 494px;vertical-align: bottom;}
.td31{padding: 0px;margin: 0px;width: 50px;vertical-align: bottom;}
.td32{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 165px;vertical-align: bottom;background: #f4f04e;}
.td33{padding: 0px;margin: 0px;width: 181px;vertical-align: bottom;background: #f4f04e;}
.td34{padding: 0px;margin: 0px;width: 277px;vertical-align: bottom;background: #f4f04e;}
.td35{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 138px;vertical-align: bottom;background: #f4f04e;}
.td36{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 165px;vertical-align: bottom;background: #d99694;}
.td37{padding: 0px;margin: 0px;width: 181px;vertical-align: bottom;background: #d99694;}
.td38{padding: 0px;margin: 0px;width: 277px;vertical-align: bottom;background: #d99694;}
.td39{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 138px;vertical-align: bottom;background: #d99694;}
.td40{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 165px;vertical-align: bottom;background: #e8b011;}
.td41{padding: 0px;margin: 0px;width: 181px;vertical-align: bottom;background: #e8b011;}
.td42{padding: 0px;margin: 0px;width: 277px;vertical-align: bottom;background: #e8b011;}
.td43{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 138px;vertical-align: bottom;background: #e8b011;}
.td44{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 274px;vertical-align: bottom;background: #ff0000;}
.td45{padding: 0px;margin: 0px;width: 179px;vertical-align: bottom;background: #ff0000;}
.td46{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;background: #ff0000;}
.td47{padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;background: #ff0000;}
.td48{padding: 0px;margin: 0px;width: 200px;vertical-align: bottom;background: #ff0000;}
.td49{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 137px;vertical-align: bottom;background: #ff0000;}
.td50{padding: 0px;margin: 0px;width: 274px;vertical-align: bottom;background: #ff0000;}
.td51{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 274px;vertical-align: bottom;background: #d99694;}
.td52{padding: 0px;margin: 0px;width: 179px;vertical-align: bottom;background: #d99694;}
.td53{padding: 0px;margin: 0px;width: 274px;vertical-align: bottom;background: #d99694;}
.td54{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 137px;vertical-align: bottom;background: #d99694;}
.td55{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 274px;vertical-align: bottom;background: #ff5b54;}
.td56{padding: 0px;margin: 0px;width: 179px;vertical-align: bottom;background: #ff5b54;}
.td57{padding: 0px;margin: 0px;width: 274px;vertical-align: bottom;background: #ff5b54;}
.td58{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 137px;vertical-align: bottom;background: #ff5b54;}
.td59{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;background: #ff5b54;}
.td60{padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;background: #ff5b54;}
.td61{padding: 0px;margin: 0px;width: 200px;vertical-align: bottom;background: #ff5b54;}

.tr0{height: 71px;}
.tr1{height: 27px;}
.tr2{height: 31px;}
.tr3{height: 33px;}
.tr4{height: 34px;}
.tr5{height: 97px;}
.tr6{height: 67px;}
.tr7{height: 101px;}
.tr8{height: 51px;}
.tr9{height: 17px;}
.tr10{height: 43px;}
.tr11{height: 25px;}
.tr12{height: 62px;}
.tr13{height: 37px;}
.tr14{height: 41px;}
.tr15{height: 39px;}
.tr16{height: 40px;}
.tr17{height: 48px;}
.tr18{height: 14px;}
.tr19{height: 49px;}
.tr20{height: 66px;}
.tr21{height: 15px;}
.tr22{height: 32px;}
.tr23{height: 20px;}
.tr24{height: 3px;}

.t0{width: 878px;margin-top: 95px;font: italic bold 24px 'Arial';color: #3366ff;}
.t1{width: 861px;font: 32px 'Arial';color: #7f7f7f;}
.t2{width: 665px;margin-top: 164px;font: 27px 'Calibri';}
.t3{width: 665px;margin-top: 157px;font: 27px 'Calibri';}
.t4{width: 544px;margin-left: 250px;font: bold 32px 'Arial';}
.t5{width: 762px;margin-top: 416px;font: 27px 'Calibri';}
.t6{width: 865px;margin-left: 27px;margin-top: 18px;font: 27px 'Calibri';}
