<div class="header">
  <div class="title">Spine</div>
</div>

<div>

  <div class="card">
    <div class="card-header one_header">
      3 Alignment
    </div>
  </div>
  <div class="card">

    <button (click)="select('A / P', 'button_one')" class="btn btn-default spine_a_button">
      <div class="row">
        <div class="col">
          < 3
        </div>
        <div class="col">
          <div name="checkmark-circle" float-end *ngIf="button_one == true"><b>:</b></div>
        </div>
      </div>

    </button>
  </div>
  <div class="card">

    <button (click)="select('A / P', 'button_two')" class="btn btn-default spine_a_button">
      <div class="row">
        <div class="col">
          3
        </div>
        <div class="col">
          <div name="checkmark-circle" float-end *ngIf="button_two == true"><b>:</b></div>
        </div>
      </div>
    </button>
  </div>

  <div class="card">
    <button (click)="select('A / C', 'button_three')" class="spine_c_button">
      <div class="row">
        <div class="col">
          > 3
        </div>
        <div class="col">
          <div name="checkmark-circle" float-end *ngIf="button_three == true"><b>:</b></div>
        </div>
      </div>
    </button>
  </div>

  <div class="card">
    <div class="row">
      <div class="col center text-left">
        <button class="btn btn-outline-dark" (click)="goToNext()" [disabled]="!isenabled">Next</button>
      </div>
      <div class="col center text-center">
        <div class="card">
          <div class="row">
            <div class="col center text-center">
              A: {{a}}
            </div>
            <div class="col center text-center">
              P: {{p}}
            </div>
            <div class="col center text-center">
              C: {{c}}
            </div>
          </div>

        </div>
      </div>
      <div class="col center text-right">

      </div>
    </div>
  </div>

</div>

