<app-nav-bar title="Spine" bg="warning"></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--<div class="header">-->
      <!--<div class="title">Spine</div>-->
      <!--</div>-->

      <div class="card mt-2">
        <div class="one_header">
          3 Alignment
        </div>
      </div>
      <div class="card mt-2">

        <button (click)="select('A / P', 'button_one')" class="btn btn-outline-warning text-left">
          <div class="row">
            <div class="col">
              Lordotic
            </div>
            <div class="col">
              <div *ngIf="button_one == true"><b>:</b></div>
            </div>
          </div>

        </button>
      </div>
      <div class="card mt-2">

        <button (click)="select('A / P', 'button_two')" class="btn btn-outline-warning text-left">
          <div class="row">
            <div class="col">
              Kyphotic -> flex or 10°
            </div>
            <div class="col">
              <div *ngIf="button_two == true"><b>:</b></div>
            </div>
          </div>
        </button>
      </div>

      <div class="card mt-2">
        <button (click)="select('A / C', 'button_three')" class="btn btn-outline-warning text-left">
          <div class="row">
            <div class="col">
              Kyphotic -> fix or 10°
            </div>
            <div class="col">
              <div *ngIf="button_three == true"><b>:</b></div>
            </div>
          </div>
        </button>
      </div>

      <div class="card mt-2">
        <div class="row">
          <div class="col-3 center text-left">
            <button class="btn btn-outline-warning" (click)="goToNext()" [disabled]="!isenabled">Next</button>
          </div>
          <div class="col-7 center text-center">
            <div class="card intermediate_result">
              <div class="row">
                <div class="col center text-center">
                  A: {{a}}
                </div>
                <div class="col center text-center">
                  P: {{p}}
                </div>
                <div class="col center text-center">
                  C: {{c}}
                </div>
              </div>

            </div>
          </div>
          <div class="col center text-right">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


