<nav class="navbar navbar-expand-lg navbar-light bg-{{bg}}">
  <span class="navbar-brand backlink" (click)="backClick()">{{title}}</span>
  <img src="../assets/imgs/logolc.jpg" class="logo ml-5">
  <span class="backlink ml-5" (click)="homeClick()">home</span>
</nav>
<!--
<nav class="navbar navbar-light bg-{{bg}}">
  <span class="navbar-brand backlink" (click)="backClick()">{{title}}</span>
  <img src="../assets/imgs/logolc.jpg" class="logo">
  <span class="backlink" (click)="homeClick()">home</span>
</nav>-->
