<nav id="top-nav-desk" class="navbar navbar-expand-lg navbar-light bg-{{bg}}">
  <span class="navbar-brand backlink" (click)="backClick()" *ngIf="home != 'true'"><i class="fa fa-arrow-left"></i> {{title}}</span>
  <span class="navbar-brand backlink" *ngIf="home == 'true'">{{title}}</span>
  <img src="../assets/imgs/logotrans.png" class="logo ml-5">
  <span class="link ml-5" (click)="homeClick()">home</span>
  <span class="link ml-5" (click)="imprint()">imprint</span>
</nav>

<nav id="top-nav-mobile" class="navbar navbar-expand-lg navbar-light bg-{{bg}}">
  <span class="navbar-brand backlink" (click)="backClick()" *ngIf="home != 'true'"><i class="fa fa-arrow-left"></i> {{title}}</span>
  <span class="navbar-brand backlink" *ngIf="home == 'true'">{{title}}</span>
  <img src="../assets/imgs/logotrans.png" class="logo float-right">
</nav>

<nav id="bottom-nav" class="navbar fixed-bottom navbar-light">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <!--span class="backlink" (click)="homeClick()"><i class="fa fa-home"></i> home</span>-->
      <a class="nav-link text-{{bg}}" href="home"><i class="fa fa-home"></i> home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-{{bg}}" href="imprint"><i class="fa fa-envelope"></i> imprint</a>
    </li>
  </ul>
</nav>

