<app-nav-bar title="Legal" bg="info"></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col">
      <br><br>
      <div>Medical responsibility:</div>
      <div>Prof. Dr. med Luca Papavero</div>
      <div>Dr. med Gregor Schmeiser</div>
      <br><br>
      <div>Development:</div>
      <div>Jens Kornacker</div>
      <br><br>
      <a href="https://www.e-neurospine.org/journal/view.php?doi=10.14245/ns.1938010.005" target="_blank">7LC Article at neurospine.org</a>
    </div>
  </div>
</div>
