<app-nav-bar title="Compression" bg="secondary"></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--<div class="card">-->
      <!--<div class="one_header bg-secondary">Compression</div>-->
      <!--</div>-->

      <div class="card mt-3">
        <div class="one_header">
          2 Extension
        </div>
      </div>
      <div class="card mt-3 border-0">

        <button (click)="select('A', 'button_one')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              < 3
            </div>
            <div class="col text-right">
              <div *ngIf="button_one == true"><b><i class="fa fa-check"></i></b></div>
            </div>
          </div>

        </button>
      </div>
      <div class="card mt-3 border-0">

        <button (click)="select('A / P', 'button_two')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              3
            </div>
            <div class="col text-right">
              <div *ngIf="button_two == true"><b><i class="fa fa-check"></i></b></div>
            </div>
          </div>
        </button>
      </div>

      <div class="card mt-3 border-0">
        <button (click)="select('P', 'button_three')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              > 3
            </div>
            <div class="col text-right">
              <div *ngIf="button_three == true"><b><i class="fa fa-check"></i></b></div>
            </div>
          </div>
        </button>
      </div>

<!--      <div class="card intermediate_result mt-3">
        <div class="row">
          <div class="col center text-center">
            A: {{a}}
          </div>
          <div class="col center text-center">
            P: {{p}}
          </div>
          <div class="col center text-center">
            C: {{c}}
          </div>
        </div>
      </div>-->

      <div class="card mt-3 border-0">
        <div class="row">
          <div class="col-3 center text-left">
            <button class="btn btn-outline-dark" (click)="goToNext()" [disabled]="!isenabled">Next</button>
          </div>
          <div class="col-7 center text-center">
            <!--<app-letter-nav-modal buttoncolor="dark"></app-letter-nav-modal>-->
          </div>
          <div class="col center text-right">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

