<app-nav-bar title="" home="true"></app-nav-bar>
<div class="container">
  <div class="row mt-3">
    <div class="col">
      Welcome to the
      Seven Letter Code
    </div>
    <div class="col">
      This app helps in the surgical decision-making
      for
      cervical degenerative myelopathy
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2 mt-3" *ngFor="let i of imageUrls">
      <b>{{i.title}}</b>
      <img src="{{i.image}}" width="100%">
    </div>
    <div class="col-3">
      Medical responsibility:
      Prof. L. Papavero, Dr. G. Schmeiser
      Greg.schmeiser@gmail.com
      Development: Jens Kornacker
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2">
      <label>For further Information:</label>
      <button class="btn btn-outline-primary" (click)="showPdf()">Pdf</button>
    </div>
    <div class="col-2">
      <label>App:</label><br>
      <button class="btn btn-outline-warning" (click)="letsBegin()">App</button>
    </div>
  </div>

</div>

