@media (max-width: 576px) {
  .mrtaxialwebsite {
    width: 30%;
    margin-top: 3em;
  }

  .not-mobile {
    display: none;
  }

  .web-or-mobile {
    font-size: 1.2rem;
  }

  .some-padding-stuff {
    padding-left: 2.4em;
    padding-right: 2.4em;
  }
}

@media (min-width: 576px) {
  .mrtaxialwebsite {
    width: 30%;
    margin-top: 4em;
  }

  .not-mobile {
    display: none;
  }

  .web-or-mobile {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .mrtaxialwebsite {
    width: 100%;
  }

  .not-mobile {
    display: block;
  }

  .web-or-mobile {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  .img-lifted {
    margin-top: -5em;
  }
}

