<app-nav-bar title="" home="true"></app-nav-bar>
<div class="container">
  <div class="row mt-3">
    <div class="col-md text-center">
      <h3>
        Welcome to the<br>
        <span class="text-danger">Seven Letter Code</span>
      </h3>
    </div>
    <div class="col-md">

    </div>
    <div class="col-md">
      <div class="text-center not-mobile">
        <img src="{{logoUrl}}" width="50%">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 text-center img-lifted not-mobile" *ngFor="let i of imageUrls">
      <b>{{i.title}}</b>
      <img src="{{i.image}}" class="mrtaxialwebsite">
    </div>
    <div class="col-md-7 text-center some-padding-stuff">
      <span class="mt-5 web-or-mobile">
        This app helps in the surgical decision-making
        for
        cervical degenerative myelopathy
      </span>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm">
      <div class="row mb-3">
        <div class="col">
          <!--<label>Further&nbsp;Information:</label><br>-->
          <button class="btn btn-sm btn-outline-primary" (click)="showPdf()">Further Information</button>
          <!--<a href="/assets/info.pdf">info</a>-->
        </div>
        <div class="col">
          <!--<label>App:</label><br>-->
          <button class="btn btn-lg btn-outline-success" (click)="letsBegin()"><b>Go to App</b></button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!--<label>Installation:</label><br>-->
          <button class="btn btn-sm btn-outline-info" (click)="instructions()">Install</button>
        </div>
        <div class="col">
          <button class="btn btn-sm btn-outline-danger" (click)="showArticle()">7LC Article</button>
        </div>
      </div>
    </div>
    <div class="col-sm not-mobile">
      <b>Medical responsibility:</b><br>
      Prof. L. Papavero<br>
      Dr. G. Schmeiser<br>
      greg.schmeiser@gmail.com<br><br>
      <b>Development:</b><br>
      Jens Kornacker<br><br>
      <a href="https://www.e-neurospine.org/journal/view.php?doi=10.14245/ns.1938010.005" target="_blank">7LC Article at neurospine.org</a>
    </div>
  </div>

</div>

