<app-nav-bar title="C-Modifier" bg="primary"></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="card-header one_header">
          7 C-Modifier
        </div>
      </div>
      <div class="card mt-3 border-0">

        <button (click)="select('C', 'button_one')" class="btn btn-outline-primary text-left">
          <div class="row">
            <div class="col">
              K-line neg. type of compression<br>
              Corpectomy &ge; 2 level
            </div>
            <div class="col">
              <div *ngIf="button_one == true"><b>:</b></div>
            </div>
          </div>

        </button>
      </div>
      <div class="card mt-3 border-0">

        <button (click)="select('0', 'button_two')" class="btn btn-outline-primary text-left">
          <div class="row">
            <div class="col">
              no C-Modifier
            </div>
            <div class="col">
              <div *ngIf="button_two == true"><b>:</b></div>
            </div>
          </div>
        </button>
      </div>

      <div class="card intermediate_result mt-3">
        <div class="row">
          <div class="col center text-center">
            A: {{a}}
          </div>
          <div class="col center text-center">
            P: {{p}}
          </div>
          <div class="col center text-center">
            C: {{c}}
          </div>
        </div>
      </div>

      <div class="card mt-3 border-0">
        <div class="row">
          <div class="col-3 text-left">
            <button class="btn btn-outline-primary" (click)="goToNext()" [disabled]="!isenabled">Next</button>
          </div>
          <div class="col-6 text-center">

          </div>
          <div class="col center text-right">
            <button class="btn btn-outline-dark" (click)="showImages('seven')" outline>Pics</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

